<mat-form-field class="full-width">
    <mat-label>Título</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8"></textarea>
</mat-form-field>

<button 
    mat-flat-button 
    color="primary" 
    class="full-width" 
    style="margin-bottom: 1rem;"
    (click)="crear();">Crear Anuncio</button>

<button mat-stroked-button color="primary" class="full-width" [routerLink]="['/anuncios']">Cancelar</button>